<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript">
        constants = {
            getPage: '@Url.RouteUrl("DefaultApi", new {controller = "event", action = "page" })',
            newevent: '@Url.RouteUrl("DefaultApi", new { controller = "event", action = "new" })',
            token_acc: '@Url.RouteUrl("DefaultApi", new {controller = "identity", action = "token" })',
            register: '@Url.RouteUrl("DefaultApi", new { controller = "identity", action = "register"})',
            addPointsToEvent: '@Url.RouteUrl("DefaultApi", new { controller = "event", action = "addpoints"})',
            getEventsByCreatorList: '@Url.RouteUrl("DefaultApi", new { controller = "event", action = "geteventsbycreatorlist" })',
            getEventsByMemberList: '@Url.RouteUrl("DefaultApi", new { controller = "event", action = "geteventsbymemberlist"})',
            tokenKey: 'tokenKey',
            currentUserId: 'currentUserId'

        }
    </script>
    <link href="~/css/styles.css" rel="stylesheet" media="all">
    <title>SharEvent</title>
</head>
<body>
    <div id="content">
    </div>
    <script type="text/javascript" src="@Url.Content("~/assets/bundle.js")"></script>
</body>
</html>